@charset "UTF-8";

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-black.woff") format("woff"), url("../fonts/gilroy-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-ultralight";
  font-display: swap;
  src: url("../fonts/gilroy-ultralight.woff") format("woff"), url("../fonts/gilroy-ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-thin.woff") format("woff"), url("../fonts/gilroy-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  position: relative;
}

body {
  line-height: 1;
  font-family: "gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #ffffff;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 390px;
  margin: 0 auto;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  position: relative;
}

body {
  line-height: 1;
  font-family: "gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-black.woff") format("woff"), url("../fonts/gilroy-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-ultralight";
  font-display: swap;
  src: url("../fonts/gilroy-ultralight.woff") format("woff"), url("../fonts/gilroy-ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-thin.woff") format("woff"), url("../fonts/gilroy-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: 48px;
  background: -webkit-gradient(linear, left top, right top, from(#1A68FF), to(#D117FF));
  background: -o-linear-gradient(left, #1A68FF, #D117FF);
  background: linear-gradient(to right, #1A68FF, #D117FF);
  border-radius: 10px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-box-shadow: 4px 3px 7px rgba(125, 133, 221, 0.45);
          box-shadow: 4px 3px 7px rgba(125, 133, 221, 0.45);
}

.btn:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 8px 6px 7px rgba(125, 133, 221, 0.95);
          box-shadow: 8px 6px 7px rgba(125, 133, 221, 0.95);
}

.btn__link {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 130px;
}

.btn__link_form {
  padding: 0px;
}

.btn__home {
  margin-bottom: 0px;
}

.btn__about-us {
  margin-bottom: 0px;
}

.btn__contacts {
  margin-bottom: 0px;
}

.btn__link_file {
  width: 275px;
  padding: 22px 50px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
}

.btn__link_file span {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  color: #151439;
}

.title {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#1A68FF), to(#D117FF));
  background-image: -o-linear-gradient(left, #1A68FF, #D117FF);
  background-image: linear-gradient(to right, #1A68FF, #D117FF);
}

.title__block-info {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 32px;
}

.title__block-info_home {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 28px;
}

.title__block-info_our-benefits {
  color: #ffffff;
}

.title__block-info_contacts {
  color: #ffffff;
}

.title__block-info_map {
  color: #ffffff;
}

.title__columns-benefits {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #393E46;
  margin-bottom: 12px;
}

.text {
  font-family: "gilroy";
  color: #393E46;
}

.text__block-info {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.text__block-info_our-benefits {
  color: #ffffff;
}

.text__columns-benefits {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 0;
}

.text__footer_map {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
}

.text__footer_copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 100%;
  color: #ffffff;
}

.text-link {
  font-family: "gilroy";
  color: #2F2D2D;
  line-height: 100%;
}

.form {
  padding: 0px 20px 0px 20px;
}

.form__input {
  width: 350px;
  height: 50px;
  margin-bottom: 20px;
}

.form__input input {
  width: 100%;
  padding: 18px 22px;
  background-color: #ffffff;
  border-radius: 10px;
}

.form__input input::-webkit-input-placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form__input input::-moz-placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form__input input:-ms-input-placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form__input input::-ms-input-placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form__input input::placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form__input_textarea {
  width: 350px;
  height: 100px;
}

.form textarea {
  width: 100%;
  height: 100%;
  padding: 18px 22px;
  background-color: #ffffff;
  border-radius: 10px;
  resize: none;
}

.form textarea::-webkit-input-placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form textarea::-moz-placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form textarea:-ms-input-placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form textarea::-ms-input-placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

.form textarea::placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #151439;
  opacity: 0.4;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?gmzy5w");
  src: url("../fonts/icomoon.eot?gmzy5w#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?gmzy5w") format("truetype"), url("../fonts/icomoon.woff?gmzy5w") format("woff"), url("../fonts/icomoon.svg?gmzy5w#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ellipse:before {
  content: "\e900";
}

.icon-fb:before {
  content: "\e901";
}

.icon-ln:before {
  content: "\e902";
}

.icon-logo:before {
  content: "\e903";
}

.icon-rectangle:before {
  content: "\e904";
}

.icon-tw:before {
  content: "\e905";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  height: 52px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(125, 133, 221, 0.25);
          box-shadow: 0px 2px 4px rgba(125, 133, 221, 0.25);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-body {
  padding: 19px 0 19px 24px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 14px;
}

.header__logo-img {
  max-width: 100%;
}

.pagination {
  display: none;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 1%;
  height: 238px;
  width: 35px;
}

.pagination__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__dot {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 12px;
  height: 12px;
  border: solid 1px #325DFF;
  border-radius: 50px;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  margin-bottom: 24px;
}

.pagination__dot:hover {
  background-color: #1A68FF;
}

.pagination__dot:last-child {
  margin-bottom: 0px;
}

.pagination__dot.active {
  width: 4px;
  height: 58px;
  background-color: #325DFF;
}

.pagination__dot.active:nth-child(3) {
  background-color: #ffffff;
  border-color: #ffffff;
}

.pagination__dot.active:nth-child(6) {
  background-color: #ffffff;
  border-color: #ffffff;
}

.pagination__numbers {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #325DFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.pagination__numbers span {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  opacity: 0;
}

.pagination__numbers span:nth-child(3) {
  color: #ffffff;
}

.pagination__numbers span:nth-child(6) {
  color: #ffffff;
}

.pagination__numbers span.active {
  padding: 20px 0px;
  opacity: 1;
}

.navigation__search {
  display: none;
}

.navigation__form-search input {
  width: 100%;
  border: 0.5px solid #7B8794;
  border-radius: 8px;
  padding: 16px 0 16px 48px;
  background: url(../img/iconsprite/search.svg) no-repeat 10px center;
  font-family: "gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation__link {
  position: relative;
}

.navigation__link::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: #1A68FF;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.navigation__link:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#1A68FF), to(#D117FF));
  background-image: -o-linear-gradient(left, #1A68FF, #D117FF);
  background-image: linear-gradient(to right, #1A68FF, #D117FF);
}

.navigation__link:hover::after {
  width: 100%;
}

.navigation__link.active {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#1A68FF), to(#D117FF));
  background-image: -o-linear-gradient(left, #1A68FF, #D117FF);
  background-image: linear-gradient(to right, #1A68FF, #D117FF);
}

.navigation__link.active::after {
  width: 100%;
}

.burger-nav {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding: 17px 20px 17px 0px;
}

.burger-nav__body {
  display: block;
  position: relative;
  top: 0;
  right: 0;
  width: 20px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.burger-nav__body span {
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #002FE5;
  border-radius: 2px;
}

.burger-nav__body span:first-child {
  top: 0;
}

.burger-nav__body span:last-child {
  top: auto;
  bottom: 0;
}

.burger-nav__body.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger-nav__body.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.burger-nav__body.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.wrapper {
  background: url(../img/bg/bg_body390.svg) no-repeat 0px 0px;
  margin: 0 auto;
  max-width: 390px;
}

.column_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.column__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.column__item_home {
  padding: 144px 0 30px 0;
}

.column__item_about-us {
  overflow: hidden;
  padding: 60px 0 105px 0;
}

.column__item_our-benefits {
  padding: 60px 0 24px 0;
}

.column__item_how-it-work {
  padding: 95px 0 48px 0;
}

.column__item_careers {
  padding: 105px 0 38px 0;
}

.column__item_contacts {
  padding: 48px 0 34px 0;
}

.column__item_map {
  display: none;
}

.column__content-map {
  width: 100%;
  height: 367px;
  margin-bottom: 41px;
}

.column__img_home {
  margin-bottom: 70px;
}

.column__img_how-it-work {
  margin-bottom: 56px;
}

.column__img img {
  max-width: 100%;
}

.column__content {
  padding: 0 20px;
}

.column__content_home {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.column__content_about-us {
  margin-bottom: 62px;
}

.column__content_our-benefits {
  margin-bottom: 28px;
}

.column__content_how-it-work {
  margin-bottom: 0px;
}

.column__content_careers {
  margin-bottom: 112px;
}

.column__content_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 20px;
  margin-bottom: 28px;
}

.columns-benefits {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 20px 0 20px;
}

.columns-benefits__body {
  margin-bottom: 18px;
}

.columns-benefits__body:last-child {
  margin-bottom: 0px;
}

.columns-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #ffffff;
  border-radius: 10px;
}

.columns-benefits__item_optimization {
  padding: 27px 0px 27px 38px;
}

.columns-benefits__item_free-content {
  padding: 30px 0px 30px 23px;
}

.columns-benefits__item_safety {
  padding: 33px 0px 33px 25px;
}

.columns-benefits__item_own-vpn {
  padding: 32px 0px 32px 24px;
}

.columns-benefits__content {
  padding: 10px 10px 10px 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
  padding: 18px 5px 18px 20px;
}

.social__img {
  font-size: 20px;
  margin-right: 18px;
}

.social__img_white {
  color: #ffffff;
}

.social__img_black {
  color: #000000;
}

.social__img:last-child {
  margin-right: 0px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 20px;
}

.footer__map-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.footer__map-btn::after {
  content: url(../img/iconsprite/chevron.svg);
  margin-left: 8px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.footer__map-btn.active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__map {
  width: 100%;
  height: 383px;
}

.footer__map iframe {
  width: 100%;
  height: 100%;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  padding: 14px 0 14px 0;
}

.hidden-animation {
  opacity: 0;
}

.move-top {
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.move-down {
  -webkit-transform: translate(0, -120%);
      -ms-transform: translate(0, -120%);
          transform: translate(0, -120%);
}

.move-left {
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
}

.move-right {
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
}

.active {
  --animation-delay: 0s;
  -webkit-transition: opacity .3s linear, -webkit-transform .5s linear;
  transition: opacity .3s linear, -webkit-transform .5s linear;
  -o-transition: transform .5s linear, opacity .3s linear;
  transition: transform .5s linear, opacity .3s linear;
  transition: transform .5s linear, opacity .3s linear, -webkit-transform .5s linear;
  -webkit-transition-delay: var(--animation-delay);
       -o-transition-delay: var(--animation-delay);
          transition-delay: var(--animation-delay);
}

.active.move-top {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.active.move-down {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.active.move-left {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.active.move-right {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.active.show-animation {
  opacity: 1;
}

@media (min-width: 391px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .title__block-info {
    font-size: 40px;
    margin-bottom: 28px;
    font-weight: 900;
  }

  .title__block-info_contacts {
    letter-spacing: 0.2px;
  }

  .header {
    height: 60px;
  }

  .header__logo-body {
    padding: 15px 0 15px 40px;
  }

  .header__logo {
    width: 62px;
    height: 29px;
  }

  .wrapper {
    background: url(../img/bg/bg_body768.svg) no-repeat 0px 0px;
    margin: 0 auto;
    max-width: 768px;
  }

  .columns-benefits__item {
    max-width: 568px;
  }

  .columns-benefits__item_optimization {
    padding: 19px 0px 19px 37px;
  }

  .columns-benefits__item_free-content {
    padding: 29px 0px 29px 28px;
  }

  .columns-benefits__item_safety {
    padding: 31px 0px 32px 28px;
  }

  .columns-benefits__item_own-vpn {
    padding: 27px 0px 27px 17px;
  }
}

@media (min-width: 411px) {
  .title__block-info_home {
    font-size: 50px;
  }
}

@media (min-width: 765px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .btn {
    width: 240px;
    height: 50px;
  }

  .btn__link {
    padding: 16px 76px;
  }

  .btn__link_form {
    padding: 20px 78px;
  }

  .btn__contacts {
    width: 300px;
    height: 60px;
  }

  .btn__contacts {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 0;
  }

  .text__block-info {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 52px;
  }

  .text__block-info_our-benefits {
    margin-bottom: 0px;
  }

  .text__block-info_contacts {
    color: #ffffff;
    margin-bottom: 0px;
  }

  .text__footer_map {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #ffffff;
  }

  .text-link {
    font-weight: 400;
    font-size: 14px;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 40px 0px 40px;
  }

  .form__input {
    width: 335px;
  }

  .form__input:nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 52px;
    width: 100%;
    padding-right: 126px;
  }

  .form__input:nth-child(6)::after {
    content: 'Attach file (max size 1MB; doc, txt, pdf, docx)*';
    margin-left: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.6;
    line-height: 100%;
  }

  .form__input input {
    width: 100%;
  }

  .form__input_textarea {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 200px;
  }

  .form textarea {
    width: 100%;
  }

  .navigation__list {
    padding: 23px 40px 23px 0;
  }

  .navigation__li {
    margin-right: 28px;
  }

  .navigation__li:last-child {
    margin-right: 0;
  }

  .burger-nav {
    display: none;
  }

  .column__item_home {
    padding: 167px 0 30px 0;
  }

  .column__item_about-us {
    padding: 78px 0 150px 0;
  }

  .column__item_our-benefits {
    padding: 80px 0 20px 0;
  }

  .column__item_how-it-work {
    padding: 70px 0 130px 0;
  }

  .column__item_careers {
    padding: 120px 0 44px 0;
  }

  .column__item_contacts {
    padding: 82px 0 50px 0;
  }

  .column__img_home {
    max-width: 611px;
    padding: 0px 10px;
    margin-bottom: 30px;
  }

  .column__img_about-us {
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 551px;
  }

  .column__img_how-it-work {
    max-width: 733px;
    margin-bottom: 60px;
  }

  .column__img_careers {
    max-width: 657px;
  }

  .column__content {
    padding: 0 40px;
  }

  .column__content_home {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 560px;
  }

  .column__content_about-us {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 610px;
    margin-bottom: 26px;
  }

  .column__content_our-benefits {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 544px;
    margin-bottom: 62px;
  }

  .column__content_how-it-work {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 624px;
  }

  .column__content_careers {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 622px;
  }

  .column__content_careers {
    margin-bottom: 58px;
  }

  .social {
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 28px 5px 28px 40px;
  }

  .footer {
    height: 80px;
  }

  .footer__map {
    height: 453px;
  }

  .footer__copyright {
    background-color: #2238a4;
  }
}

@media (min-width: 769px) {
  .wrapper {
    background: url(../img/bg/bg_body1920.svg) no-repeat -337px 0px;
    margin: 0 auto;
    max-width: 1920px;
  }
}

@media (min-width: 1000px) {
  .navigation__li {
    margin-right: 48px;
  }

  .navigation__li:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .btn {
    width: 300px;
    height: 60px;
  }

  .btn__contacts {
    height: 50px;
  }

  .title__block-info {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.2px;
  }

  .title__block-info_home {
    font-size: 68px;
    font-weight: 900;
    letter-spacing: 2px;
  }

  .title__block-info_home span {
    font-size: 90px;
  }

  .title__columns-benefits {
    margin-bottom: 28px;
    font-weight: 700;
  }

  .text__block-info_map {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 32px;
  }

  .text-link {
    font-weight: 600;
    font-size: 18px;
  }

  .form {
    max-width: 800px;
  }

  .header {
    height: 80px;
  }

  .header__logo-body {
    padding: 22px 0 22px 80px;
  }

  .header__logo {
    width: 62px;
    height: 36px;
  }

  .pagination {
    display: block;
  }

  .navigation__list {
    padding: 30px 80px 30px 0;
  }

  .navigation__li {
    margin-right: 58px;
  }

  .navigation__li:last-child {
    margin-right: 0;
  }

  .column__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .column__item_home {
    padding: 237px 0 80px 0;
  }

  .column__item_about-us {
    padding: 280px 0 200px 0;
  }

  .column__item_our-benefits {
    padding: 158px 0 156px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .column__item_how-it-work {
    padding: 290px 0 223px 0;
  }

  .column__item_careers {
    padding: 242px 0 152px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column__item_contacts {
    padding: 106px 0 135px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 58px;
  }

  .column__item_map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 722px;
            flex: 0 1 722px;
    height: 100%;
    padding-right: 20px;
  }

  .column__item_map iframe {
    width: 100%;
    height: 100%;
  }

  .column__img_home {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 949px;
    padding: 0px 0px;
    margin-bottom: 0px;
  }

  .column__img_about-us {
    max-width: 869px;
    padding: 0px 0px 0px 60px;
    margin-bottom: 0px;
    margin-right: 35px;
  }

  .column__img_how-it-work {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 916px;
  }

  .column__img_careers {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 924px;
    margin-right: 28px;
  }

  .column__content_home {
    -ms-flex-item-align: center;
        align-self: center;
    padding: 0px 5px 0px 58px;
    margin-right: 35px;
    max-width: 626px;
  }

  .column__content_about-us {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 0px 58px 0px 5px;
    max-width: 626px;
  }

  .column__content_our-benefits {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0px 5px 0px 58px;
    max-width: 481px;
    margin-bottom: 92px;
  }

  .column__content_how-it-work {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0px 5px 0px 58px;
    max-width: 603px;
    margin-bottom: 0px;
    margin-right: 35px;
  }

  .column__content_careers {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0px;
    padding: 0 5px;
  }

  .column__content_map {
    padding: 0px;
    margin-bottom: 100px;
  }

  .columns-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .columns-benefits__body {
    margin-bottom: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 351px;
            flex: 0 1 351px;
    padding: 0 31px 0px 31px;
  }

  .columns-benefits__body:first-child {
    padding: 0px 31px 0px 0px;
  }

  .columns-benefits__body:last-child {
    padding: 0px 0px 0px 31px;
  }

  .columns-benefits__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 56px 22px 56px 30px;
    height: 100%;
  }

  .columns-benefits__content {
    padding: 10px 10px 10px 10px;
  }

  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer__social::after {
    content: 'Copyright © 2021 BSD Company All rights reserved.';
    justify-self: flex-end;
    color: #ffffff;
    margin-left: 60%;
  }

  .footer__map-btn {
    display: none;
  }

  .footer__bottom {
    display: none;
  }
}

@media (min-width: 1200px) and (min-width: 1600px) {
  .footer__social::after {
    margin-left: 70%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1920px;
    margin: 0 auto;
  }

  .navigation__li {
    margin-right: 78px;
  }

  .navigation__li:last-child {
    margin-right: 0;
  }

  .column__item_contacts {
    margin-right: 78px;
  }

  .column__img_about-us {
    max-width: 1013px;
    padding: 0px 0px 0px 204px;
    margin-bottom: 0px;
    margin-right: 47px;
  }

  .column__img_careers {
    margin-right: 44px;
  }

  .column__content_home {
    padding: 0px 5px 0px 78px;
    margin-right: 65px;
    max-width: 646px;
  }

  .column__content_about-us {
    padding: 0px 109px 0px 5px;
    max-width: 665px;
    margin-bottom: 0px;
  }

  .column__content_our-benefits {
    padding: 0px 5px 0px 78px;
    max-width: 488px;
  }

  .column__content_how-it-work {
    padding: 0px 5px 0px 78px;
    max-width: 623px;
    margin-bottom: 0px;
    margin-right: 65px;
  }
}

@media (min-width: 1600px) {
  .navigation__li {
    margin-right: 120px;
  }

  .navigation__li:last-child {
    margin-right: 0;
  }

  .column__img_about-us {
    max-width: 1013px;
    padding: 0px 0px 0px 204px;
    margin-bottom: 0px;
    margin-right: 107px;
  }

  .column__img_careers {
    margin-right: 64px;
  }

  .column__content_home {
    padding: 0px 5px 0px 138px;
    margin-right: 105px;
    max-width: 706px;
  }

  .column__content_about-us {
    padding: 0px 169px 0px 5px;
    max-width: 725px;
    margin-bottom: 0px;
  }

  .column__content_our-benefits {
    padding: 0px 5px 0px 138px;
    max-width: 559px;
  }

  .column__content_how-it-work {
    padding: 0px 5px 0px 138px;
    max-width: 683px;
    margin-bottom: 0px;
    margin-right: 105px;
  }
}

@media (min-width: 1920px) {
  .column__item_contacts {
    margin-right: 168px;
  }

  .column__img_about-us {
    max-width: 1013px;
    padding: 0px 0px 0px 204px;
    margin-bottom: 0px;
    margin-right: 147px;
  }

  .column__img_careers {
    margin-right: 88px;
  }

  .column__content_home {
    padding: 0px 5px 0px 218px;
    margin-right: 175px;
    max-width: 786px;
  }

  .column__content_about-us {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 0px 249px 0px 5px;
    max-width: 805px;
    margin-bottom: 0px;
  }

  .column__content_our-benefits {
    padding: 0px 5px 0px 263px;
    max-width: 726px;
  }

  .column__content_how-it-work {
    padding: 0px 5px 0px 228px;
    max-width: 773px;
    margin-bottom: 0px;
    margin-right: 224px;
  }
}

@media (max-width: 1200px) {
  .columns-benefits__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
  }

  .columns-benefits__img_optimization {
    max-width: 63px;
    max-height: 92px;
  }

  .columns-benefits__img_free-content {
    max-width: 72px;
    max-height: 72px;
  }

  .columns-benefits__img_safety {
    max-width: 76px;
    max-height: 66px;
  }

  .columns-benefits__img_own-vpn {
    max-width: 77px;
    max-height: 75px;
  }

  .columns-benefits__img img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .text__block-info_home {
    margin-bottom: 48px;
  }

  .text__block-info_about-us {
    margin-bottom: 48px;
  }

  .text__block-info_how-it-work {
    margin-bottom: 48px;
  }

  .text__block-info_careers {
    margin-bottom: 48px;
  }

  .text__block-info_contacts {
    color: #ffffff;
  }

  .contacts {
    background-color: #2238a4;
  }

  .footer {
    background-color: #2238a4;
  }
}

@media (max-width: 767px) {
  .text-link {
    font-weight: 600;
    font-size: 20px;
  }

  .navigation {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    -webkit-transform: translate(-100%, 50px);
        -ms-transform: translate(-100%, 50px);
            transform: translate(-100%, 50px);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    z-index: 15;
    background-color: #ffffff;
  }

  .navigation.active {
    -webkit-transform: translate(0%, 50px);
        -ms-transform: translate(0%, 50px);
            transform: translate(0%, 50px);
  }

  .navigation__search {
    display: block;
    padding: 27px 20px 38px 20px;
  }

  .navigation__list {
    display: block;
    padding: 0;
  }

  .navigation__li {
    padding-left: 20px;
    margin-bottom: 48px;
  }

  .navigation__li:last-child {
    margin-right: 0;
  }
}

@media (max-width: 390px) {
  .title__block-info_about-us {
    margin-bottom: 32px;
  }

  .title__block-info_our-benefits {
    margin-bottom: 32px;
  }

  .title__block-info_how-it-work {
    margin-bottom: 32px;
  }

  .title__block-info_careers {
    margin-bottom: 32px;
  }

  .title__block-info_contacts {
    margin-bottom: 22px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }

  .btn {
    width: 278px;
    height: 48px;
  }

  .btn__link {
    padding: 15px 50px;
  }

  .form__input {
    width: 278px;
  }

  .columns-benefits__item_optimization {
    padding: 25px 0px 25px 10px;
  }

  .columns-benefits__item_free-content {
    padding: 25px 0px 25px 10px;
  }

  .columns-benefits__item_safety {
    padding: 25px 0px 25px 10px;
  }

  .columns-benefits__item_own-vpn {
    padding: 25px 0px 25px 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .title__block-info_our-benefits {
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from(#1A68FF), to(#D117FF));
    background-image: -o-linear-gradient(left, #1A68FF, #D117FF);
    background-image: linear-gradient(to right, #1A68FF, #D117FF);
  }

  .text__block-info_our-benefits {
    color: #393E46;
  }
}

@media (max-width: 768px) and (min-width: 1200px) {
  .text__block-info_contacts {
    font-size: 22px;
  }
}

@media (min-width: 1200px) and (max-width: 1550px) {
  .contacts {
    background-color: #2238a4;
  }
}